/* Menu Toggle Widget Styles */
.site-navigation-toggle-holder {
    display: inline-block;
    position: relative;
}

.site-navigation-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 10px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1001;
}

.site-navigation-toggle:hover {
    opacity: 1;
}

/* Menu Text Wrapper */
.menu-text-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    perspective: 6em;
}

.menu-text {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    transition: transform 0.55s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.35s linear 0.2s;
    display: block;
    line-height: 1;
    transform-origin: top;
}

.menu-text-close {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: rotateX(-90deg) scaleX(0.9) translate3d(0, 10px, 0);
    transform-origin: bottom;
    transition: transform 0.55s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.35s linear 0.2s;
}

.menu-text-open {
    transform: rotateX(0deg) scaleX(1) translateZ(0);
    opacity: 1;
}

/* Toggled State */
.site-navigation-toggle.toggled .menu-text-open {
    opacity: 0;
    transform: rotateX(90deg) scaleX(0.9) translate3d(0, -10px, 0);
}

.site-navigation-toggle.toggled .menu-text-close {
    opacity: 1;
    transform: rotateX(0deg) scaleX(1) translateZ(0);
    transition: transform 0.75s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.35s linear 0.3s;
}

/* Hamburger Icon */
.hamburger {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    position: relative;
}

.hamburger .line {
    width: 100%;
    height: 2px;
    background-color: currentColor;
    display: block;
    transition: all 0.3s ease;
    transform-origin: center;
}

/* Hamburger Animation - Toggled State */
.site-navigation-toggle.toggled .hamburger .line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.site-navigation-toggle.toggled .hamburger .line:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
}

.site-navigation-toggle.toggled .hamburger .line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* Responsive */
@media (max-width: 768px) {
    .menu-text {
        font-size: 12px;
    }
    
    .hamburger {
        width: 25px;
        height: 25px;
        gap: 4px;
    }
    
    .site-navigation-toggle.toggled .hamburger .line:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
    
    .site-navigation-toggle.toggled .hamburger .line:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
}

/* Menu Container */
.menu-container {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: transparent;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
    pointer-events: none;
}

.menu-container:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: unset;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
    z-index: -1;
}

.site-navigation-toggle.toggled ~ .menu-container:before {
    transform: scaleY(1);
    transition-delay: 0s;
}

.site-navigation-toggle.toggled ~ .menu-container {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

/* Menu Items */
.menu-container .vertical-menu {
    width: 100%;
}

.menu-container .menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-container .menu li {
    margin-bottom: 10px;
    perspective: calc(3 * 48px);
    perspective-origin: bottom;
}

.menu-container .menu li:last-child {
    margin-bottom: 0;
}

.menu-container .menu a {
    display: block;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.65s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.35s linear;
    opacity: 0;
    transform: rotateX(90deg) translate3d(0, 60px, 0);
    transform-origin: center bottom;
}

.site-navigation-toggle.toggled ~ .menu-container .menu a {
    opacity: 1;
    transform: rotateX(0deg) translate3d(0, 0px, 0);
}

.menu-container .menu li:nth-child(1) a {
    transition-delay: 0s, 0.55s, 0.55s;
}

.site-navigation-toggle.toggled ~ .menu-container .menu li:nth-child(1) a {
    transition-delay: 0s, 0.55s, 0.55s;
}

.menu-container .menu li:nth-child(2) a {
    transition-delay: 0s, 0.65s, 0.65s;
}

.site-navigation-toggle.toggled ~ .menu-container .menu li:nth-child(2) a {
    transition-delay: 0s, 0.65s, 0.65s;
}

.menu-container .menu li:nth-child(3) a {
    transition-delay: 0s, 0.75s, 0.75s;
}

.site-navigation-toggle.toggled ~ .menu-container .menu li:nth-child(3) a {
    transition-delay: 0s, 0.75s, 0.75s;
}

.menu-container .menu li:nth-child(4) a {
    transition-delay: 0s, 0.85s, 0.85s;
}

.site-navigation-toggle.toggled ~ .menu-container .menu li:nth-child(4) a {
    transition-delay: 0s, 0.85s, 0.85s;
}

.menu-container .menu li:nth-child(5) a {
    transition-delay: 0s, 0.95s, 0.95s;
}

.site-navigation-toggle.toggled ~ .menu-container .menu li:nth-child(5) a {
    transition-delay: 0s, 0.95s, 0.95s;
}

.menu-container .menu li:nth-child(6) a {
    transition-delay: 0s, 1.05s, 1.05s;
}

.site-navigation-toggle.toggled ~ .menu-container .menu li:nth-child(6) a {
    transition-delay: 0s, 1.05s, 1.05s;
}

.menu-container .menu li:nth-child(7) a {
    transition-delay: 0s, 1.15s, 1.15s;
}

.site-navigation-toggle.toggled ~ .menu-container .menu li:nth-child(7) a {
    transition-delay: 0s, 1.15s, 1.15s;
}

.menu-container .menu li:nth-child(8) a {
    transition-delay: 0s, 1.25s, 1.25s;
}

.site-navigation-toggle.toggled ~ .menu-container .menu li:nth-child(8) a {
    transition-delay: 0s, 1.25s, 1.25s;
}

.menu-container .menu li:nth-child(9) a {
    transition-delay: 0s, 1.35s, 1.35s;
}

.site-navigation-toggle.toggled ~ .menu-container .menu li:nth-child(9) a {
    transition-delay: 0s, 1.35s, 1.35s;
}

.menu-container .menu li:nth-child(10) a {
    transition-delay: 0s, 1.45s, 1.45s;
}

.site-navigation-toggle.toggled ~ .menu-container .menu li:nth-child(10) a {
    transition-delay: 0s, 1.45s, 1.45s;
}

.menu-container .menu a:hover {
    opacity: 0.8;
    transform: translateX(5px);
}

/* Submenu Arrow */
.menu-container .menu .sub-arrow {
    margin-left: 0.5em;
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.menu-container .menu .sub-arrow i {
    font-size: 0.75em;
    transition: transform 0.3s ease;
}

.menu-container .menu .menu-item-has-children.submenu-open > a .sub-arrow i {
    transform: rotate(180deg);
}

/* Submenu styles */
.menu-container .menu .sub-menu {
    list-style: none;
    padding-left: 15px;
    margin-top: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(-20px);
}

.menu-container .menu li.menu-item-has-children.submenu-open > .sub-menu {
    max-height: 1000px;
    opacity: 1;
    transform: translateX(0);
}

.menu-container .menu .sub-menu li {
    margin-bottom: 5px;
    perspective: none;
}

.menu-container .menu .sub-menu a {
    opacity: 1;
    transform: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.menu-container .menu .sub-menu a:hover {
    transform: translateX(3px);
}

